<!doctype html>
<html>
  <head>
    <!-- Meta Data -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title><%= current_page.data.title || "The Middleman" %></title>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application" %>

    <!-- Javascript -->
    <!-- <script src="//use.typekit.net/rts7ick.js" async=""></script> -->
    <script src="//use.typekit.net/ait7csm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= page_classes %>">
    <main class="view-container" role="main">
      <%= partial 'components/topbar' %>
      <%= yield %>
      <%= partial 'components/cta' %>
    </main>
    <%= partial 'components/footer' %>
    <script> document.createElement( "picture" );</script>
    <%= javascript_include_tag  "application" %>
  </body>

</html>
