<!doctype html>
<html>
  <head>
    <!-- Meta Data -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <title><%= current_page.data.title || "CureAccelerator" %></title>
    <link href="images/favicon.png" rel="shortcut icon">
    <% if current_page.data.description %>
      <meta name="description" content="<%= current_page.data.description %>" />
    <% end %>
    <% if current_page.path == "index.html" %>
      <link href="http://cureaccelerator.org/" rel="canonical">
    <% else %>
      <link href="http://cureaccelerator.org/<%= current_page.path.gsub('.html', '') %>" rel="canonical">
    <% end %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application" %>

    <!-- Javascript -->
    <!-- <script src="//use.typekit.net/rts7ick.js" async=""></script> -->
    <script src="//use.typekit.net/ait7csm.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= page_classes %>">
    <main class="view-container" role="main">
      <%= partial 'components/topbar' %>
      <%= yield %>
      <%= partial 'components/cta' %>
    </main>
    <%= partial 'components/footer' %>
    <%= javascript_include_tag  "application" %>
  </body>

</html>
