---
title: CureAccelerator
---
<section role="banner" aria-label="repurposing-research" class="page-header home-header">
  <div class="header-content__container map-container center">
    <h2 id="repurposing-research" class="title uppercase big">Repurposing</h2>
    <h3 class="title uppercase">Speed Treatments to patients</h3>
    <div class="header-content__description">
      <h4 class="title">Researchers, funders, clinicians and others harnessing the power of repurposing research</h4>
    </div>
    <%= link_to 'Sign Up', ' https://app.cureaccelerator.org/registration', class: 'button button--white button--header' %>
    <span class="dot-blue dot-1"></span>
    <span class="dot-green dot-2"></span>
    <span class="dot-pink dot-3"></span>
    <span class="dot-brown dot-4"></span>
    <span class="dot-purple dot-5"></span>
    <span class="dot-green-alt dot-6"></span>
    <span class="dot-pink dot-7"></span>
    <span class="dot-blue dot-8"></span>
    <span class="dot-green dot-9"></span>
    <span class="dot-brown dot-10"></span>
  </div>
</section>
<section class="callout--green" role="region" aria-labelledby="about-cure-accelerator">
  <div class="callout--container">
    <div class="two-third">
      <p class="text">More than 7,000 diseases have no fully effective treatment, affecting more than 500 million people worldwide. Thousands of existing drugs and devices have the potential to be repurposed to treat patients waiting for a cure. The CureAccelerator community has the ability to make that happen. <%= link_to 'Get started', ' https://app.cureaccelerator.org/registration', class: 'link__underline' %>, or  <%= link_to 'learn more', 'faq.html', class: 'link__underline' %> about repurposing.</p>
    </div>
    <div class="divider"></div>
    <div class="one-third logo-container">
      <p class="footnote-logo"><em>The CureAccelerator platform was built with a grant from the Robert Wood Johnson Foundation</em></p>
    </div>
  </div>
</section>
<section role="region" aria-labelledby="using-the-application" class="page-section--container">
  <header role="section title" class="page-section--header">
    <div class="section-tag-border"></div>
    <h6 class="section--tag">What is CureAccelerator?</h6>
  </header>
  <div class="page-section--body">
    <h1 class="title">World’s First Online, Interactive Platform  For Repurposing Research</h1>
    <p class="text">CureAccelerator supports “proof of concept” research repurposing drugs, devices and nutriceuticals already approved for human use. On CureAccelerator, funders have direct access to repurposing research, researchers can post ideas and connect with peers and funding, and clinicians can contribute their experience of off-label use in need of validation. Using expertise, resources and dollars on hand, CureAccelerator is here so that we can all quickly and affordably answer the question “will this help patients?”</p>
  </div>
</section>
<section class="featured-ui--container">
  <%= image_tag 'ui/ui-2-img.jpg', class: 'featured-ui--card__main' %>
  <ul class="featured-ui--cards">
    <li class="featured-ui--card"><%= image_tag 'ui/ui-1-img.jpg', class: 'featured-ui--img' %></li>
    <li class="featured-ui--card"><%= image_tag 'ui/ui-7-img.jpg', class: 'featured-ui--img' %></li>
    <li class="featured-ui--card"><%= image_tag 'ui/ui-3-img.jpg', class: 'featured-ui--img' %></li>
    <li class="featured-ui--card"><%= image_tag 'ui/ui-4-img.jpg', class: 'featured-ui--img' %></li>
    <li class="featured-ui--card"><%= image_tag 'ui/ui-5-img.jpg', class: 'featured-ui--img' %></li>
    <li class="featured-ui--card"><%= image_tag 'ui/ui-6-img.jpg', class: 'featured-ui--img' %></li>
  </ul>
  </div>
</section>
<hr class="page-section--divider">
<section role="region" aria-labelledby="featured-users" class="page-section--container">
  <header role="section title" class="page-section--header">
    <div class="section-tag-border"></div>
    <h6 class="section--tag">CureAccelerator Community</h6>
  </header>
   <div class="page-section--body">
    <h2 class="title">Featured User Roles</h2>
    <% link_to 'clinicians.html', class: 'card one-third hover' do %>
      <%= image_tag 'roles/clinician-img.png', alt: 'Clinicans', class: 'card--border__green-alt-1' %>
      <h5 class="card--title__green-alt-1">Clinicans</h5>
    <% end %>
    <% link_to 'researchers.html', class: 'card one-third hover' do %>
      <%= image_tag 'roles/researcher-img.png', alt: 'Researchers', class: 'card--border__green' %>
      <h5 class="card--title__green">Researchers</h5>
    <% end %>
    <% link_to 'funders.html', class: 'card one-third hover' do %>
      <%= image_tag 'roles/funders-img.png', alt: 'Funders', class: 'card--border__purple' %>
      <h5 class="card--title__purple">Funders</h5>
    <% end %>
  </div>
</section>
<hr class="page-section--divider">
<section role="region" aria-labelledby="featured-content" class="page-section--container">
  <header role="section title" class="page-section--header">
    <div class="section-tag-border"></div>
    <h6 class="section--tag">Featured Content</h6>
  </header>
   <div class="page-section--body">
    <h2 class="title">CureAccelerator Featured Users And Projects</h2>
    <p class="text">CureAccelerator has been created by Cures Within Reach, the leading organization dedicated to repurposing research, testing existing drugs, devices and nutriceuticals for new therapeutic uses. Since 1998, Cures has funded medical repurposing research, working to improve clinical care.</p>
  </div>
</section>